<a href="https://colab.research.google.com/github/chandrasekhaar/chandrasekhaar/blob/main/MYPython_e_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#-->single line commenting
#1. What is Python?
'''A. High-level Programming Language
B. General purpose
c. Object oriented programmin language
D. Interpreted language
e. dynamically typed'''

In [ ]:
#why we require comminting?
#better understanding of the code

In [ ]:
#what is an IDE?
#integreted development environment-->code executer, compiler, write our code and display our code
# google colbnote book, jupyter notebook, pycharm...etc

In [ ]:
#Numerical data types
#3 types of numerical data types
#1. integer:- A whole number without decimal points
#print():-to display our ouput
print(10)
#how can you find the data type?
#type():- used for to know the data type
print(type(10))

10
<class 'int'>

In [ ]:
#float:- a whole number either -ve or +ve with decimal points.
print(10.5)
print(type(10.5))
print(2.35)
print(type(2.35))
print(1.0)
print(type(-1.0))

10.5
<class 'float'>
2.35
<class 'float'>
1.0
<class 'float'>

In [ ]:
#complex numbers:- A real number with its imaginary part
print(2+4j)
print(type(2+4j))
#what is "j'?
#j --> iota-->root -1

(2+4j)
<class 'complex'>

#Arthamatic operators

In [ ]:
#what are all arthamatic operators?
#Addition:--->"+"
print(10 + 5)
print(type(10 + 5))
#substraction---> "-"
print(10 - 5)
#multiplication----> "*"
print(10 * 5)
#division----> "/" (forward slash)
print(10 / 5)
print(type(10 / 5))

15
<class 'int'>
5
50
2.0
<class 'float'>

In [ ]:
#exponential:- to the power off --> **
print(2 ** 3)
print(type(2 ** 3))

8
<class 'int'>

In [ ]:
#floor division:- it will ignores the values after decimal points
#doneted with--> "//"

print(10 / 3)
print(10 // 3)

3.3333333333333335
3

In [ ]:
#Modulus :- --->"%"-->remainder of a division

print(10 % 3)
print(type(10 % 3))

print(10 % 2)
print(type(10 % 2))

1
<class 'int'>
0
<class 'int'>

In [ ]:
#find the given number is odd or even?
print(5 % 2) #odd--- in modulus if you get o/p as 1
print(6 % 2) #even -- in modulus if u get o/p as 0

1
0

In [ ]:
#what is a floor value?
#it is value before decimal point

#Types of Erros

In [ ]:
#there are 2 types pof error
#1.syntax error:- if you break the rules of programming language you have syntax error
#ex:-print(10 * * 3)

In [ ]:
#2.Logical errors:- except syntax error all the errors comes under logical error
# ex:- indentation error, type error, recurissive  error...etc

#Round()

In [ ]:
#it will give the nearest value means we are rounding off the value
print(round(10.5))
print(round(10.6))
#note: if the values are equals to or less than (0.5) point 5 thw round off value can be floor value

10
11

In [ ]:
#print round off value of 2.3456?
print(round(2.3456))
#if i want to print number with 2 decimal point?
print(round(2.3456,2))
#print 1st 3 decimal points?
print(round(2.3456,3))

2
2.35
2.346

In [ ]:
#what is ceiling value?
#when you use round off fuction if the value is more than point 5(0.5) it will go for neares upcoming value
#so upcoming value is known as ceiling value.

In [ ]:
print("hello world!")

hello world!

In [ ]:
#print first 3 decimals from the given 9.6543?
#9.65
print(round(9.6543,3))

9.654

#Varibles

In [ ]:
#why we are using the varibles?
#A containers where we can store our valuable information and whenever you want you reuse it
#how can we create an variable?
""" lets say father age is x and son
age is 1/2 father age"""
x = 40
son_age = x/2
#how we access an varaible?
print(son_age)

20.0

In [ ]:
#please do all the arthamatic operation by using 2 varible?
x = 10
y = 5
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x ** y)
print(x // y)
print(x % y)

15
5
50
2.0
100000
2
0

In [ ]:
#rules to follow for writing varible
#1. varible can written by using alphabets
a = "hello world!"
print(a)
#2. you can not start with the numbers
#2 ="hello world"
#print(2)
#3. if you follow rule 1 and 2 then you can start with alphabets in between you use number
hello2 = "hello world"
print(hello2)
#4.you start with _
_ = 10
print(_)
#5.you cannot you the special chartacters
# @ = 10
# print(@)
#6. you cannot give spaces in between variables
# a b c = 10,20,30
# print(a,b,c)
#7. dont star a varible name with capital letter
#8.varibles are case sensitive

In [ ]:
#varibles are case sensitive
c = 10
print(C)
#Note:- By this we can say python " is an case sensitive language"

In [ ]:
#smart ways of writing varibles?
#1.Assign multiple values to multiple varibles and print it?
a,b,c = 10,20,30
print(a,b,c)
a = 10
b = 20
c = 30
print(a,b,c, sep='\n')

10 20 30
10
20
30

In [ ]:
#assign single value to the multiple varible and print it?
a = 10
b = 10
c = 10
#print(a,b,c)

a = b = c = 10
# print(a,b,c)
#print the output in seprate line?
#we are using "sep = "\n"" to print the output in n no. of lines
# print(a)
# print(b)
# print(c)
print(a,b,c, sep="\n")

10
10
10

#input()

In [ ]:
#what is input()?
#it will takes what ever information given by user
#how to create input()?
#to create input function we are using "input()" along with varible
#how to access the input()?
# with help of input varible we can access the input() values.

#what is use of input()?
#we can give multiple values to the single variable

In [ ]:
#we can give multiple user values to the single variable
a = input()
print(a)
print(type(a))
#what is default data type for input()?
#string

2 + 5j
2 + 5j
<class 'str'>

In [ ]:
#create  2 input() program and do all the arthamatic operation?
a = float(input())
b = float(input())
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)
print(a // b)
print(a % b)
print(type(a % b))

In [ ]:
a  = input("enter the number :" )
print(a)

enter the number :10
10

#string

In [ ]:
#what is astring?
#string collection group of character which written inside " "
a = "hello world!"
print(a)
print(type(a))

hello world!
<class 'str'>

In [ ]:
#write a multiple line of string?
#"""  """ / ''' '''
#note:- when you start with double quotes end with double qouts and vice versa
a = """ Hi, hope your doing well,
you been sellected a for x position"""
print(a)

 Hi, hope your doing well,
you been sellected a for x position

In [ ]:
#how can you write a multiple line of message by using input()?
a = input("enter the message :")
print(a)

enter the message :""" Hi, hope your doing well,  you been sellected a for x position"""
""" Hi, hope your doing well,  you been sellected a for x position"""

In [ ]:
#note:string is collection multiple characters eacha and every charceter is accessble.
#how can we accesss each element in a string?
#indexing:- positional number of each and every element in a string
#slicing operator:- --->[]
#what is substring?
#getting a part from original string is know as substring

In [ ]:
#find the length of given string?
a = "hello world!"
#i am using "len()" to find klentght of character in string
print(len(a))

12

In [ ]:
a = "hello world!"
#print "h" from hello world?
#[start]
print(a[0])
#print "w" from hello word!?

h

In [ ]:
#print the range of characters?
#[start:end]
#print "hello" from hello world!?
print(a[0:5])
print(a[6:11])
#note:- if u want to display specific end cahracter you need add it with 1--> n+1

hello
world

In [ ]:
#i want to print step wise elements from a string?
#[start:end:step]
print(a[0:12:3])

hlwl

In [ ]:
#Negative indexing:- accesing the elements in string from reverse direction.
#print last character of the string?
a = "hello world!"
# print(a[-1])
#print world from hello world in -ve indexing?
print(a[-7:-1])

 world

In [ ]:
#but i want go in reverse direction
#step
a = "hello world!"
print(a[-1:-7:-1])

!dlrow

In [ ]:
#reverse a given string?
# "Univerese"
a = "Univerese"
print(a[-1:-10:-1])
#default methods
#[start:end:step]
print(a[::-1])

eserevinU
eserevinU

In [ ]:
#Tell weather a string is palindrome or not?
b = 'mom'
print(b)
print(b[::-1])

mom
mom

In [ ]:
c = "hyderabad"
print(c)
print(c[::-1])

hyderabad
dabaredyh

In [ ]:
string = "Hello, World!"
print(string[3:7])

lo,

In [ ]:
string = "Hello, World!"
#[start:end:step]
print(string[::-2])

!lo olH

In [ ]:
string = "Hello, World!"
print(string[::2])

Hlo ol!

In [ ]:
#print the end element?
print(string[-1])

!

In [ ]:
#print hello by using -ve indexing?
print(string[-8:-14:-1])

,olleH

**string methods**

In [ ]:
x = "hello world!"
#what are all the methods i can apply on x = " hello world!"
#we are using "dir()" to know what are all the methods apply on strin
print(dir(x))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
#1.capitaize()
#2.upper()
#3.lower()
#4.replace() ***
#5.trim()
#6.ltrim()
#7.rtrim()
#8.title()
#9.swapcase()
#10.split()
#how can you applly string methods?
x = "hello world!"
print(x.upper())
print(x.lower())
print(x.title())
print(x.swapcase())

HELLO WORLD!
hello world!
Hello World!
HELLO WORLD!

**string formatmethod**

In [ ]:
x = "10"
y = "my age is "
#print " my age is"
print(y+" " +x)

my age is  10

In [ ]:
#what is string format method?
#FAILLING the placeholder{} with given arguments
#there are  format methods

In [ ]:
#1st method
age = 40
string = "my age is {}"
print(string.format(age))

my age is 40

In [ ]:
#2nd method
age = 40
string = "my age is {}".format(age)
print(string)

my age is 40

In [ ]:
#3rd f'format method' ***
age = 40
string = f"my age is {age}"
print(string)

my age is 40

In [ ]:
item = 'Product A'
price = 99.9
quantity = 20
#expected output: your order for product a number of items quantity priced at 99.99 is confiremd
text = "your order for {} number of items {} priced at {} is confiremd"

print(text.format(item,quantity,price))

In [ ]:
item = 'Product A'
price = 99.9
quantity = 20
#expected output: your order for product a number of items quantity priced at 99.99 is confiremd
text = "your order for {} number of items {} priced at {} is confiremd".format(item,quantity,price)

print(text)

your order for Product A number of items 20 priced at 99.9 is confiremd

In [ ]:
item = 'Product A'
price = 99.9
quantity = 20
#expected output: your order for product a number of items quantity priced at 99.99 is confiremd
text = f"your order for {item} number of items {quantity} priced at {price*quantity} is confiremd"

print(text)

your order for Product A number of items 20 priced at 1998.0 is confiremd

#conditional statements( control structures)

In [ ]:
#what are all comparision operators do we have in python?
#1.equals to----> ==
#2.not equals---> !=
#3.greater than---> >
#4.less than ---> <
#5.greter than ---> >=
#6.less than ----> <=

In [ ]:
print( 10 == 10)
print( 10 != 10)
print( 10 > 10)
print( 10 < 10)
print( 10 >= 10)
print( 10 <= 10)

True
False
False
False
True
True

In [ ]:
print("Hello" == "hello")

False

In [ ]:
#what are all conditional statements we are having?
#if,elif, else

In [ ]:
marks = 34
passing_marks = 35
total_marks = 100
if marks >= passing_marks:
  print("congratulation")
  print(f'you have passed with {marks} marks')
else:
  print("better luck next time")
  print(f"you have got {marks} marks")

better luck next time
you have got 34 marks

In [ ]:
#print a number if it os +ve print +ve and if it is _ve pribt "-ve" if it is zero print "neutral"
a = int(input())
if a > 0:
  print("+ve")
elif a == 0:
  print("neutral")
else:
  print("-ve")

-0
neutral

In [ ]:
#Logical Operators:- and, or, not
#and:- all the condition present true
#or:- if any one condition satisfied
#not:- reverse out put

In [ ]:
print(10 == 10)
print(not(10 == 10))

True
False

In [ ]:
a = 10
b = 56
c = 455
#check the condition that s is lesser than b and b is lesser than c and b is greater than a
if a < b and b < c and b > a:
  print("yes")
else:
  print("no")

yes

In [ ]:
a = 10
b = 56
c = 455
#check the condition that s is lesser than b and b is lesser than c and b is greater than a
if a > b or b < c or b > a:
  print("yes")
else:
  print("no")

yes

In [ ]:
#Nested condition:
#when we have to use nested condition.
a = int(input())
#  i want display  all th conditions satified
if a > 10:
  print("a is greater than 10")
  if a > 20:
    print("a is greater than 20")
    if a > 30:
      print("a is greater than 30")
      if a > 50:
        print("a is greater than 50")
      else:
        print("a is lesser than 50")
    else:
      print("a is lesser tha 30")
  else:
    print(" ais  lesser tha 20")
else:
  print("a is less than 10")

20
a is greater than 10
 ais  lesser tha 20

In [ ]:
#pass:- is a null place holder when you execute it nothing will happens
a = int(input(" enter your number: "))
if a > 0:
  print("+ve")

elif a == 0:
  pass

else:
  print("-ve")

 enter your number: 8
+ve

In [ ]:
#check what grade we can give to the students based upon their marks?
#total marks = 100
#if the student get 90 to 100 --> A+
#if the student get 80 to 90 --> A
#if the student get 70 to 80 --> B+
#if the student get 60 to 70 --> B
#if the student get 50 to 60 --> c
#if the student get 40 to 50 --> D
#Below it display "better luck next time."

#Loops

In [ ]:
#why we use the loops
#we are using this loops to avoid "wet code" and to encourage "dry code."
#1. WET Code -->mean youare repeating the code.

""" w--> write
    e--> everything
    t---> twice """

#DRY Code  --> not repeating the same code
""" D --> Don't
    R ---> repeat
    y---> yourself"""
#how may types of loops in py prog lang?
# 1. while
#2. for loop

In [ ]:
#While loop:- it works / runs a set of instruction as long as the conditions true.
target = 5
intial = 0
while intial < target:
  print("go down")
  print("go up")
  print("=====rep is completed=====")
  intial = intial + 2

go down
go up
=====rep is completed=====
go down
go up
=====rep is completed=====
go down
go up
=====rep is completed=====

In [ ]:
#write a program to run a lift to reach 4th floor?
D = 4
i = 0
while i < D:
  print("reach destination")
  print("==================")
  i = i + 1

reach destination
==================
reach destination
==================
reach destination
==================
reach destination
==================

In [ ]:
#let say i = 10 while the i value is less than 10 print the values of i upto 10?
i = 0
while i < 10:
  print(i)
  i = i + 1   # i += 1

In [ ]:
d = 10
s = 0
while s <= d:
  print(s)
  s = s + 1

In [ ]:
#print the muliples of 2 upto 10  for that write a program?
i = int(input())
target = int(input())
while i <= target:
  print(i)
  i = i * 2

In [ ]:
#write a program weater the given string is palindrome or not?
a = input()
a_rev = a[::-1]
print(f'rev of string {a_rev}')
if a.upper() == a_rev.upper():
  print(f'{a} is palidrome')
else:
  print(f'{a} is not palindrome')

Malayalam
rev of string malayalaM
Malayalam is palidrome

In [ ]:
print("malayalam"== "Malayalam")

False

In [ ]:
a ="HydeRAbad"
print(a.lower())

hyderabad

In [ ]:
#write a program to print multiples of 2 in the given list?
#list = [1,2,3,4,5,6,7,8,9,10]  #--->[2,4,6,8,10,12,14,16,18,20]
list = [1,2,3,4,5,6,7,8,9,10]
print(list * 2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**for loop**

In [ ]:
#it runs a set of instruction overa collections(list, tuple, set, dictionary)
list = [1,2,3,4,5,6,7,8,9,10]
new_list = []
for i in list:
  print(i *2)

2
4
6
8
10
12
14
16
18
20

In [ ]:
#print "hello world" in separate line?
x = "hello wordl"
for i in x:
  print(i)

In [ ]:
#break & continue
#breaks :- stops the loops irrespective of entire.
#continue :- skip the current iteration
number = [1,2,3,4,5,6]
for i in number:
  if i < 3:
    break
  print(i)

In [ ]:
number = [1,2,3,4,5,6]
for i in number:
  if i > 3:
    continue
  print(i)

1
2
3

In [ ]:
#a =[10,20,30,40,50,60,70,80,90]
#skip 20,40,70
#o/p--: 10 30 50 60 80 90
a =[10,20,30,40,50,60,70,80,90]
for i in a:
  if i == 20 or i == 40 or i == 70:
    continue
  print(i)

10
30
50
60
80
90

In [ ]:
#using range function in a loop
#range(start)
#print number from 1 to 10?
#note: range function is used only in foor loop.
for i in range(11):
  print(i)

#use input() and print range of number as per user input?

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#if i want the number start from 2 and till user given input
#range(start,end)
a = int(input())
for i in range(2,a+1):
  print(i)

9
2
3
4
5
6
7
8
9

In [ ]:
#i want to print range of 100 number but i want print all the even number upto 100
#range(start,end,step)
for i in range(0,101,2):
  print(i)

In [ ]:
a = int(input())
for i in range(0,a,3):
  print(i)

20
0
3
6
9
12
15
18

In [ ]:
#write the program to print range odd number from user inuput()?
a = int(input())
for i in range(a):
  if i % 2 != 0:
    print(i)

9
1
3
5
7

#collections

In [ ]:
#1.List
#2.Tuple
#3.Set
#4.Dictionary

In [ ]:
#what is a list?
#List:-created with []
#--ordered, allows duplicates, mutable(chnagable)
l1 = ['apple',"banana",'mango','strawberry','Blueberry']
print(l1)
print(type(l1))

['apple', 'banana', 'mango', 'strawberry', 'Blueberry']
<class 'list'>

In [1]:
#what can be stired in list?
l2 = ['true','false','true','false']
print(l2)
l3 = [1,2,3,4,5,6,7,8]
print(l3)

['true', 'false', 'true', 'false']
[1, 2, 3, 4, 5, 6, 7, 8]

In [5]:
#print l1,l23,l3 in single line
 print(type(l1),type(l2),type(l3),sep )

IndentationError: unexpected indent (<ipython-input-5-4b510b647264>, line 2)

In [ ]:
#how can you say collection is mutable?
1. swapping
2. Adding -->
3. Removing

In [8]:
#swapping
l1 = ['apple ','banana','mango','blueberry','apples',]
l1[0]='orange'
print (l1)

['orange', 'banana', 'mango', 'blueberry', 'apples']

In [13]:
#Append : ading extra element/data at end of the list
l1 = ['apple','mango','orange','banana','grapes']
l1.apped('kiwi')
print(l1)

AttributeError: 'list' object has no attribute 'apped'

In [15]:
#Removing of elements in list?
l1 = ['apple','banana','mango','grapes','jackfruit']
l1.remove('grapes')
print(l1)

['apple', 'banana', 'mango', 'jackfruit']

In [17]:
##TUpple-->()
## ordered,immutable,allow duplicates
t1=('apple','banana','mango','grapes')
print(t1)
print(type(t1))

('apple', 'banana', 'mango', 'grapes')
<class 'tuple'>

In [21]:
#tuple are ordered
t1=('hex','pls','edda','vibe','xen','Ada')
print(t1[2])
print(t1[1:5])

edda
('pls', 'edda', 'vibe', 'xen')

In [28]:
 ##SET -->
 ##unorder,ed,immutable,it wont allow duplicates
 s1 = {'apple','banana','mango','grapes','kiwi','banana'}
 print(s1)
 print(type(s1))

{'mango', 'grapes', 'kiwi', 'apple', 'banana'}
<class 'set'>

In [33]:
#main reason we use sets?
s1={'a','b','c','d'}
s2={'d','e','f','g'}
s8=s1.intersection(s2)
print(s8)

{'d'}

In [34]:
s4=s1.union(s2)
print(s4)

{'d', 'c', 'b', 'f', 'a', 'g', 'e'}

Dictionary

In [ ]:
# where we can store items in dictionary?
# key::value pairs
#dictionary-> {}
#1 unordered,it won't allow duplicates,mutable

In [11]:
d1 = {
      "name" : "python",
      "last-name":"programming",
      "age": 23,
      "module":True
  }
print(d1)
print(type(d1))

{'name': 'python', 'last-name': 'programming', 'age': 23, 'module': True}
<class 'dict'>

In [14]:
#how can we remove in dictionary ?
##pop(key)
d1.pop('module')
print(d1)

{'name': 'python', 'last-name': 'programming', 'age': 23}

In [15]:
##working with loops in the dictionary?
d3={'name':['python','c','java']
    'last-name':'programming ',
     'age':'23',
      'module':'true'
      }

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-15-891e2ea59053>, line 2)

In [18]:
#Escape characters are used to print illegle characters.
print('hex\"founder\"Richard')

hex"founder"Richard

In [ ]:
#write a program to print multiples of 2 in the given list?
list = [1,2,3,4,5,6,7,8,9,10]
new_list = []
for i in list:
  new_list.append(i * 2)
  print(new_list)

[2]
[2, 4]
[2, 4, 6]
[2, 4, 6, 8]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10, 12]
[2, 4, 6, 8, 10, 12, 14]
[2, 4, 6, 8, 10, 12, 14, 16]
[2, 4, 6, 8, 10, 12, 14, 16, 18]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]